{% extends "_base.html.twig" %}

{% block title %}ATK DB Admin{% endblock %}

{% block header %}
    <h1>ATK DB Admin</h1>
{% endblock %}

{% block content %}
    <ul>
        <li><a href="postform">Manual Post</a></li>
        <li><a href="batchpostform">Batch Post Form</a></li>
        <li><a href="unlistform">Unlist IP</a></li>
        <li><a href="ignorelist/">Ignore List</a></li>
    </ul>
{% endblock %}