{% extends "_base.html.twig" %}

{% block title %}Unlist IP from ATKdb{% endblock %}

{% block header %}
    <h1>Unlist IP from ATKdb</h1>
{% endblock %}

{% block content %}
    <form action="unlist" method="POST">
        <div>
            <label for="ip">IP Address</label>
            <input type="text" name="ip" id="ip" required>
        </div>
        <div>
            <input type="submit" value="Post">
        </div>
    </form>
{% endblock %}